* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {background: #3C3B4E;}

.navItem {
	color: #fff;
	transition: all .5s ease;
}

.navItem:hover {color: #aa98cd;}

.logo {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

header {box-shadow: 0 3px 10px rgba(13, 13, 13, .4);}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: Arial;
	height: 60px;
	background: #2D2C39;
}

.navList {
	list-style: none;
	display: flex;
	gap: 30px;
}

.mobileMenuIcon {
	display: none;
	cursor: pointer;
}

.mobileMenuIcon > div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
	transition: all .3s ease;
}

.mobileMenu {
	display: none;
	background: #2D2C39;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 90vh;
    gap: 10px;
    padding: 7px;
    margin-top: 20px;
}

.actions > h2 {
    font-family: Arial;
    color: #fff;
}

.preview > h2 {
    font-family: Helvetica;
    color: #886EB9;
}

#previewImage {
    width: 100%;
    transition: all .3s ease;
}

#url {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 5px;
    border-radius: 7px;
    color: #886EB9;
    word-break: break-word;
    background: #2D2C39;
}

.actions > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.actions > div > label {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    font-family: Arial;
    color: #89889F;
}

#preset, .paramsAction {
    width: 98%;
    height: 30px;
    color: #6E6AA3;
    border: none;
    border-radius: 7px;
    background: #2D2C39;
    transition: all .5s ease;
}

#preset:focus, .paramsAction:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(136, 110, 185, .4);
}

.btn {
    width: 98%;
    height: 30px;
    border-radius: 7px;
    color: white;
    margin-top: 5px;
    font-size: 10pt;
    background: #886EB9;
}

@media only screen and (max-width: 768px) {
	.navList {display: none;}
	
	.mobileMenuIcon {display: block;}
	
	.mobileNavList {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
		height: 150px;
		list-style: none;
		border-top: 1px solid rgba(10, 10, 10, .5);
	}
	
    main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    section {width: 90vw;}
    
    .actions {height: 400px;}
    
    .preview {height: 300px;}
}

.mobileMenu.active {display: flex;}

.mobileMenuIcon.active > .line1 {transform: rotate(-45deg) translate(-8px, 8px);}

.mobileMenuIcon.active > .line2 {opacity: 0;}

.mobileMenuIcon.active > .line3 {transform: rotate(45deg) translate(-5px, -7px);}
